.poker-bot__card {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	list-style-type: none;
	height: var(--card-height);
	width: calc(var(--card-width) - var(--gutter));
	padding: 8px;
	border-radius: 8px;
	border: 2px var(--font-color) solid;
	box-sizing: border-box;
	font-size: 56px;
	gap: 8px;
	line-height: 0;
	color: var(--background-color);
	transform: translateY(0);
	transition: transform 0.2s ease-in-out;
	background: var(--font-color);

	span {
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		align-items: center;
		max-height: 56px;
		font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}

	&[data-royalty] span:first-child::after {
		content: attr(data-royalty);
		opacity: 0.1;
		position: absolute;
		font-size: 148px;
	}

	&::before, &::after {
		content: attr(data-card);
		line-height: normal;
		position: absolute;
		font-size: 18px;
		font-weight: bold;
		color: var(--background-color);
	}

	&::before {
		top: var(--gutter-small);
		left: var(--gutter-small);
	}

	&::after {
		right: var(--gutter-small);
		bottom: var(--gutter-small);
	}

	&--highlight {
		transform: translateY(calc(var(--gutter-small) * -0.75));
		border-color: var(--primary-color);
		box-shadow: 0 6px 14px color-mix(in srgb, var(--primary-color), transparent 30%);
	}

	&--red, &--red::before, &--red::after {
		color: #880000AA;
	}

	&--small {
		font-size: 34px;

		span {
			max-height: 34px;
		}
	}

	&--large span {
		font-size: 78px;
	}

	&--columns {
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
}
