.poker-bot__hand {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--gutter);
	margin-top: var(--gutter-large);
	min-width: 100%;

	&-score {
		font-size: 22px;
		text-align: center;
		margin-top: 32px;
	}

	&-draw,
	&-table {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: var(--gutter);
	}

	&--scored {
		.poker-bot__card {
			filter: brightness(0.2);
		}

		.poker-bot__card--highlight {
			filter: brightness(1);
		}
	}
}
