.poker-bot__hand {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gutter);
	margin-top: var(--gutter-large);
	width: 100%;

	.poker-bot__card:nth-of-type(2) {
		margin-right: calc(var(--card-width) * 6);
	}

	&-score {
		font-size: 22px;
		text-align: center;
		margin-top: 32px;
	}

	&--scored {
		.poker-bot__card {
			filter: brightness(0.2);
		}

		.poker-bot__card--highlight {
			filter: brightness(1);
		}
	}
}
