.poker-bot__button {
	display: flex;
	flex-flow: row wrap;
	padding: 12px 24px;
	font-size: 18px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
}