.poker-bot__button {
	display: flex;
	flex-flow: row wrap;
	padding: 12px 24px;
	font-size: 18px;
	margin: 0 auto;
	border: 2px solid var(--font-color);
	border-radius: 8px;
	cursor: pointer;
	user-select: none;

	&:hover, &:active, &:focus {
		text-decoration: underline;
	}
}