:root {
	--background-color: #131313;
	--font-color: #dcdcdc;
	--primary-color: #00cc00;

	--card-width: 165px;
	--card-height: 200px;

	--font-family: "Solway", sans-serif;

	--gutter: 16px;
	--gutter-small: 8px;
	--gutter-large: 24px;
}
