@page "/"
@namespace PokerBot.Api.ViewModels
@rendermode InteractiveServer

<PageTitle>PokerBot</PageTitle>

<h1>PokerBot</h1>
<p>Try out your luck and draw a hand to see the best possible score.</p>
<a class="poker-bot__button" @onclick=@OnNextCard.Invoke>@NextCardButtonText</a>
@if (Cards?.Count > 0)
{
	<div class=@HandClass>
		@foreach (var card in Cards)
		{
			<Card CurrentCard=@card HandScore=@HandScore />
		}
	</div>
}
@if (HandScore?.Hand?.Cards.Count > 0)
{
	<p class="poker-bot__hand-score">@HandScoreDisplay</p>
}