@page "/"
@using PokerBot.Api.Services
@namespace PokerBot.Api.ViewModels
@inject IDraggableService DraggableService

<PageTitle>PokerBot</PageTitle>

<h1>PokerBot</h1>
<p>Try out your luck and draw a hand to see the best possible score.</p>
<a class="poker-bot__button" @onclick=@OnNextCard.Invoke>@NextCardButtonText</a>
<div class=@HandClass ondragover="event.preventDefault();">
<div class="poker-bot__hand-draw">
	@foreach (var card in Cards.Take(2))
	{
		<div class="poker-bot__card-wrapper"
			draggable="true"
			ondragover="event.preventDefault();"
			@ondragstart=@(() => { DraggableService.OnCardDrag(card); })
			@ondragend=@(dragEvent => { DraggableService.OnPlayerCardDragEnd(dragEvent, Cards); })>
			<Card CurrentCard=@card HandScore=@HandScore />
		</div>
	}
</div>
<div class="poker-bot__hand-table">
	@foreach (var card in Cards.Skip(2))
	{
		<div class="poker-bot__card-wrapper"
			draggable="true"
			ondragover="event.preventDefault();"
			@ondragstart=@(() => { DraggableService.OnCardDrag(card); })
			@ondragend=@(dragEvent => { DraggableService.OnTableCardDragEnd(dragEvent, Cards); })>
			<Card CurrentCard=@card HandScore=@HandScore />
		</div>
	}
</div>
</div>
@if (HandScore?.Hand?.Cards.Count > 0)
{
	<p class="poker-bot__hand-score">@HandScoreDisplay</p>
}