@page "/"
@namespace PokerBot.Api.ViewModels

<PageTitle>PokerBot</PageTitle>

<h1>PokerBot</h1>
<p>Try out your luck and draw a hand to see the best possible score.</p>
<a class="poker-bot__button" @onclick=@OnNextCard.Invoke>@NextCardButtonText</a>
<div class=@HandClass ondragover="event.preventDefault();">
	@if (PlayerCards.Count > 0)
	{
		<div class="poker-bot__hand-draw">
			@foreach (var card in PlayerCards)
			{
				<div class="poker-bot__card-wrapper" draggable="true" ondragover="event.preventDefault();" @ondragstart=@(() => { OnCardDrag(card); }) @ondragend=@(dragEvent => { OnPlayerCardDragEnd(dragEvent); })>
					<Card CurrentCard=@card HandScore=@HandScore />
				</div>
			}
		</div>
	}
	@if (TableCards.Count > 0)
	{
		<div class="poker-bot__hand-table">
			@foreach (var card in TableCards)
			{
				<div class="poker-bot__card-wrapper" draggable="true" ondragover="event.preventDefault();" @ondragstart=@(() => { OnCardDrag(card); }) @ondragend=@(dragEvent => { OnTableCardDragEnd(dragEvent); })>
					<Card CurrentCard=@card HandScore=@HandScore />
				</div>
			}
		</div>
	}
</div>
@if (HandScore?.Hand?.Cards.Count > 0)
{
	<p class="poker-bot__hand-score">@HandScoreDisplay</p>
}